<input class="search-input form-control" type="text" name="search" [(ngModel)]="nameSearch" autocomplete="off"
    placeholder=" Start searching by name...">
<table>
    <thead>
        <th>name</th>
    </thead>
    <tbody>
        <tr *ngFor="let hero of heroes | searchHero: nameSearch">
            <td>{{hero.name}}</td>
        </tr>
    </tbody>
</table>